<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!--Loading in the favicon-->
    <link rel="icon" type="image/x-icon" href="img/BeachPic.jpg">
    <!--Loading in the style sheets-->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="GradeCalc">Grade Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>

    <footer>I hope this is good 4 u</footer>

    <script src="lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/calcGrade.js"></script>
</body>
</html>
