@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home of Mission 5";
}

<!DOCTYPE html>

    <h1>Jared Persson</h1>
    <img class="img" src="img/SplashMountain.jpg" />
    <!--Picture and description-->
    <h5>Picture of a great splash mountain trip above</h5>
    <p>
        Hi! My name is Jared Persson, and I am excited to be in the second semester of the Junior Core in Information Systems!
        This semester, I hope to be able to grow my understanding of programming and how to make it on a large scale.
        Specifically, I would liike to learn how to scale up a type of social media-type platform and let it grow into something bigger!
        I hope this semester is great!
    </p>
    <br />
    <p>
        List of top 3 jobs:
    </p>
    <!--Lists and other code.  Nothing too notable here, just basic html being written.-->
    <ul>
        <li>AWS Machine Learning Architect</li>
        <li>Cybersecurity Consultant</li>
        <li>Enterprise Developer</li>
    </ul>

    